<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Month of {{ month_name }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <div class="month-box">
        <div class="month-name">
            <ul>
                <li>
                    <li class="prev"><a href="/month/{{last_month}}">&#10094;</a></li>
                    <li class="next"><a href="/month/{{next_month}}">&#10095;</a></li>
                    {{ month_name }}<br>
                    <span>2022</span>
                </li>
            </ul>
            
        </div>

        <!-- <div style="justify-content: space-evenly; display: flex;">
            <a href="/month/{{last_month}}">Last Month</a>
            <a href="/month/{{next_month}}">Next Month</a>
        </div> -->

        <div class="week_wrap">
            <ul class="weekdays">
                <li style="color: #CD5C5C;">Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wen</li>
                <li>Thu</li>
                <li>Fri</li>
                <li style="color: #4682B4;">Sat</li>
            </ul>

            {% for j in range(0, month_data| length) %}
                {% set week = month_data[j] %}
                <div class="week" data-weekid="{{month_id}}-{{j}}">
                    {% for i in range(0, week| length) %}
                        <div class="week-display">

                            {% if week[i] > 0 %}
                            <p>{{ week[i] }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelector(".week_wrap").addEventListener("click", (event) => {
            let weekid = event.target.closest(".week").dataset.weekid
            if (weekid) {
                window.location = `/week/${weekid}`
            }
        })
    </script>
    {% endblock %}
</body>
</html>