{% extends 'index.html' %}
{% block content %}

<div class="register-form">
    <h2 class="register-title">Register</h2>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.email.label }}
        {{ form.email(
            class="form-control",
            placeholder="email"
        ) }}
        <br>

        {{ form.username.label }}
        {{ form.username(
            class="form-control",
            placeholder="username"
        )}}
        <br>

        {{ form.password.label }}
        {{ form.password(
            class="form-control",
            placeholder="password"
        )}}
        <br>

        {{ form.password2.label }}
        {{ form.password2(
            class="form-control",
            placeholder="type your password again"
        )}}
        <br/>
        <br>

        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                {% for error in form.errors %}
                    <li>{{ form.errors[error][0] }}</li>
                {% endfor %}
                </ul>
            </div>
            
        {% endif %}

        {{ form.submit(
            class="btn btn-primary"
        ) }}

    </form>
</div>
{% endblock %}