<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week View</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>

<body>
    {% extends 'index.html' %}
    
    {% block content %}
    <div class="week-box">
        <div class="week-title">    
            <h1>Week {{ week_num+1 }} of {{ month_name }}</h1>
            <br>
        </div>

        <div style="justify-content: space-evenly; display: flex;">
            <a href="/week/{{last_week}}">Last Week</a>
            <a href="/week/{{next_week}}">Next Week</a>
        </div>

        <ul class="weekdays">
            <li style="color: #CD5C5C;">Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wen</li>
            <li>Thu</li>
            <li>Fri</li>
            <li style="color: #4682B4;">Sat</li>
        </ul>

        <div class="week">
            {% for i in range(0, week| length) %}
                <div data-date="{{ year }}-{{ month }}-{{ week[i] }}" data-day="{{week[i]}}" class="day"
                style="display: flex; flex-direction: column; font-family: 'Nanum Gothic', sans-serif; background-color: #D8F3FA; flex-grow: 1; align-items: center;">

                    {% if week[i] > 0 %}
                        <p>{{ week[i] }}</p>
                    {% endif %}
                    {% set fdate = year|string + '-' + month|string + '-' + week[i]|string %}
                    {% if fdate in event_counts %}
                        <p id="event-count-{{week[i]}}">{{ event_counts[fdate] }} Event{% if event_counts[fdate] > 1 %}s{% endif %}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- dividier -->
        <hr class="hr">

        <button class="add-button" id="add_button" style="display: none;">Add New Event</button>


        {% for day in week %}
        <div class="day" id="day_{{ day }}">
            <br>
            <div class="event-for-month-day" style="font-family: 'Fjalla One', sans-serif; margin-bottom: 20px;">
                <h3 style="float: left;">Events for {{ month_name }} {{ day }}</h3>
            </div>

            {% for event in events %}
                {% if event[2]|int == year and event[3]|int == month and event[4]|int == day %}
                    <div class="event" data-eventid="{{event[5]}}" data-day="{{ day }}"> 
                        <!-- style="display:flex; flex-direction: row; -->
                        <div align="left" class="event-line">
                            <p style="font-size: 18pt;">TITLE: {{ event[0] }}</p>
                            <br>
                            <p>{{ event[1] }}</p>
                            <hr class="hr">  
                            <p>{{ event[6] }}</p>
                            <button class="delete-button" onclick="deleteEvent(event)">Delete this event</button>
                            <button class="delete-button" onclick="editevent(event)">Edit this event</button>
                            <hr class="hr">
                        </div>
                        <button class="delete-button" onclick="deleteEvent(event)">Delete</button>
                        <button class="edit-button" onclick="editevent(event)">Edit</button>
                        
                        <div align="right">
                            
                            <!-- <button class="delete-button" onclick="deleteEvent(event)">Delete this event</button> -->
                        </div>
                        <!-- <button class="delete-button" onclick="deleteEvent(event)">Delete this event</button> -->
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script>
        let targetdate

        document.querySelector(".week").addEventListener("click", (event) => {
            let day = event.target.closest(".day")
            if (!day) return 
            let date = day.dataset.date
            let day_num = day.dataset.day
            if (day_num == "0") return
            
            targetdate = date
            ShowAddButton()
            document.querySelectorAll(`.day`).forEach((e) => e.classList.remove("shown-day"))
            document.querySelector(`#day_${day_num}`).classList.add("shown-day")
        })

        document.querySelector("#add_button").addEventListener("click", (event) => {
            window.location = `/add/${targetdate}?from=${window.location.pathname}`
        })

        function deleteEvent(event) {
            let ev = event.target.closest(".event")
            let eventid = ev.dataset.eventid
            let day = ev.dataset.day

            const xhr = new XMLHttpRequest()
            xhr.open("GET", `${window.location.origin}/deleteEvent/${eventid}`)
            xhr.onload = () => {
                if (xhr.status === 200) {
                    ev.remove() //Remove the element from html
                    let target = document.querySelector(`#event-count-${day}`)
                    let content = target.textContent
                    let arr = content.split(" ")
                    let count = parseInt(arr[0])
                    if (--count <= 0) {
                        target.textContent = ""
                    } else {
                        target.textContent = `${count} ${count > 1 ? "Events" : "Event"}`
                    }
                }
            }
            xhr.send()
        }

        function editevent(event) {
            let ev = event.target.closest(".event")
            if (!ev) return

            let eventid = ev.dataset.eventid
            window.location = `/edit/${eventid}?from=${window.location.pathname}`
        }

        function ShowAddButton() {
            let btn = document.querySelector("#add_button")
            btn.removeAttribute("style")
        }
    </script>
    {% endblock %}
</body>
</html>